<!--========== ABOUT ==========-->
<section class="about section bd-container" id="about">
    <div class="about__container  bd-grid">
        <div class="about__data">
            <span class="section-subtitle about__initial">About us</span>
            <h2 class="section-title about__initial"><%= about.title %></h2>
            <p class="about__description"><%= about.descripton_line_1 %><br><%= about.descripton_line_2 %></p>
            <a href="#" class="button">Explore history</a>
        </div>

        <img src="/assets/img/toyImages/About_Us_1.png" alt="" class="about__img">
    </div>
</section>
