 <!--========== FOOTER ==========-->
 <footer class="footer section bd-container">
    <div class="footer__container bd-grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">Little bugs</a>
            <span class="footer__description">Toy Shop</span>
            <div>
                <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Services</h3>
            <ul>
                <li><a href="#" class="footer__link">Delivery</a></li>
                <!-- <li><a href="#" class="footer__link">Pricing</a></li> -->
                <li><a href="#" class="footer__link">Gift Wrapping</a></li>
                <li><a href="#" class="footer__link">Pre order</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Information</h3>
            <ul>
                <!-- <li><a href="#" class="footer__link">Event</a></li> -->
                <li><a href="#" class="footer__link">Contact us</a></li>
                <li><a href="#" class="footer__link">Privacy policy</a></li>
                <li><a href="#" class="footer__link">Terms of services</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Adress</h3>
            <ul>
                <li>Chandni Chowk</li>
                <li>Shop Number: 12</li>
                <li>981 - 828 - 689</li>
                <li>sales@glideflows.com</li>
            </ul>
        </div>
    </div>

    <p class="footer__copy">&#169; 2020 Bedimcode. All right reserved</p>
</footer>
