<!--========== HEADER ==========-->
<header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="/" class="nav__logo">Little Bugs</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">

                <!-- <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li> -->
                <!-- <li class="nav__item"><a href="#about" class="nav__link">About</a></li> -->
                <!-- <li class="nav__item"><a href="#services" class="nav__link">Services</a></li> -->
                <li class="nav__item"><a href="/shop" class="nav__link">Shop</a></li>
                <!-- <li class="nav__item"><a href="#contact" class="nav__link">Contact us</a></li> -->


                <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>

            </ul>

        </div>
        <div class="nav__cart">
            <%if(user) { %>
            <form action="/users/logout?_method=DELETE" method="POST">
                <button class="searchButton" type="submit">Log Out</button>
              </form>
              <% } else {%>
            <a href="/users/login" class="nav__link"><i class='bx bx-user'></i></a>
            <% } %>
            <a href="/showcart" class="nav__link"><i class="bx bx-cart-alt"></i></a>
            <% if(session.cart) { %>
            <span class="responsiveFlyoutBasket_itemsCount"> <%= session.cart.totalQty %> </span>
            <% } else { %>
                <span class="responsiveFlyoutBasket_itemsCount"> 0 </span>
                <% } %>
            <!-- <ul> -->
            <!-- <li> -->
                <!-- <i class='bx bx-circle'></i> -->
            <!-- </li> -->
            <!-- </ul> -->
        </div>
        <div class="nav__toggle">
            <%if(user) { %>
                <form action="/users/logout?_method=DELETE" method="POST">
                    <button class="searchButton" type="submit">Log Out</button>
                  </form>
                  <% } else {%>
                <a href="/users/login" class="nav__link"><i class='bx bx-user'></i></a>
                <% } %>
            <a href="/showcart" class="nav__link"><i class="bx bx-cart-alt"></i></a>
            <% if(session.cart) { %>
                <span class="responsiveFlyoutBasket_itemsCount"> <%= session.cart.totalQty %> </span>
                <% } else { %>
                    <span class="responsiveFlyoutBasket_itemsCount"> 0 </span>
                    <% } %>
            <i class='bx bx-menu' id="nav-toggle"></i>
        </div>

    </nav>
    <div class="bd-grid">
        <form action="/searchkey" method="get">
            <div class="search">

                <input type="text" class="searchTerm" id="searchbar" name="searchbar"
                    placeholder="What are you looking for?" />
                <button type="submit" class="searchButton">
                    <i class="bx bx-search"></i>
                </button>

            </div>
        </form>
    </div>
</header>