 <!--========== SERVICES ==========-->
 <section class="services section bd-container" id="services">
    <span class="section-subtitle">Offering</span>
    <h2 class="section-title">Our amazing services</h2>
    <div class="services__container  bd-grid">
        <div class="services__content">  
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" class="services__img" viewBox="0 0 720.000000 771.000000" >
<g transform="translate(0.000000,771.000000) scale(0.100000,-0.100000)" stroke="none">
<path d="M2025 7664 c-49 -11 -143 -37 -170 -47 -56 -19 -180 -79 -212 -103
-17 -13 -34 -24 -38 -24 -6 0 -66 -41 -75 -51 -3 -3 -25 -21 -50 -40 -73 -56
-107 -88 -219 -210 -117 -127 -215 -274 -262 -394 -4 -11 -14 -36 -23 -55 -40
-92 -52 -275 -29 -415 12 -69 62 -197 96 -245 9 -13 17 -29 17 -35 0 -16 117
-155 190 -225 92 -88 307 -242 393 -281 71 -32 142 -78 145 -92 4 -20 56 -19
-798 -17 -660 1 -643 3 -694 -64 l-27 -36 -1 -768 c0 -532 3 -775 10 -789 21
-38 80 -81 121 -88 33 -5 41 -11 45 -33 2 -15 5 -808 4 -1762 0 -1912 -5
-1766 63 -1816 l33 -24 3067 2 3067 3 27 25 c61 57 57 -79 57 1829 0 1056 4
1753 9 1764 6 10 21 17 39 17 35 0 81 26 110 63 21 27 21 28 21 802 l0 775
-27 35 c-15 20 -37 41 -48 48 -16 9 -200 13 -731 14 -390 1 -713 2 -718 3 -19
1 29 52 55 57 15 3 28 9 28 14 0 5 5 9 11 9 16 0 249 142 249 152 0 4 5 8 10
8 42 0 282 227 344 325 21 33 47 72 57 87 11 15 19 31 19 35 0 4 7 22 16 38 9
17 20 44 25 60 49 183 51 191 46 270 -14 208 -60 338 -191 539 -55 84 -266
309 -340 361 -15 11 -38 29 -50 40 -52 46 -122 89 -228 140 -203 97 -214 99
-448 100 -180 0 -208 -2 -230 -17 -13 -10 -34 -18 -45 -18 -78 -2 -329 -138
-460 -251 -56 -48 -226 -219 -250 -251 -24 -32 -142 -189 -153 -203 -49 -63
-218 -382 -247 -465 -21 -62 -37 -50 -95 77 -29 65 -60 125 -67 134 -7 8 -13
20 -13 25 0 33 -187 317 -283 429 -90 106 -321 325 -342 325 -4 0 -24 13 -44
29 -40 32 -240 131 -265 131 -8 0 -17 4 -20 9 -4 5 -25 12 -49 16 -23 4 -48
12 -54 17 -13 11 -341 21 -378 12z m290 -295 c22 -6 51 -13 65 -16 206 -43
513 -297 682 -564 9 -14 23 -32 30 -40 31 -33 175 -305 224 -424 6 -16 17 -41
23 -55 22 -52 81 -236 81 -255 0 -11 7 -38 15 -60 9 -27 14 -83 15 -167 0
-166 -13 -202 -95 -265 -97 -75 -444 -80 -765 -12 -106 23 -168 38 -220 54
-30 9 -73 21 -95 26 -22 6 -44 14 -50 20 -5 5 -19 9 -31 9 -12 0 -56 16 -97
35 -41 19 -81 35 -88 35 -26 0 -266 124 -344 178 -122 85 -136 95 -163 120
-14 12 -28 22 -32 22 -18 0 -152 172 -185 237 -83 163 -68 369 38 543 80 131
139 199 305 353 46 42 88 77 92 77 5 0 28 13 52 29 24 16 72 43 108 60 60 28
89 37 190 61 51 11 199 11 245 -1z m2856 -5 c96 -28 188 -65 224 -90 20 -13
38 -24 41 -24 3 0 34 -22 69 -48 91 -69 237 -211 295 -290 27 -37 54 -72 59
-78 18 -21 65 -119 89 -184 30 -83 36 -273 10 -330 -8 -19 -21 -49 -28 -67
-14 -37 -77 -127 -121 -172 -16 -17 -134 -124 -158 -143 -129 -105 -457 -267
-676 -333 -33 -10 -77 -24 -98 -31 -20 -8 -48 -14 -60 -14 -13 0 -27 -4 -32
-9 -10 -9 -25 -12 -225 -50 -232 -45 -516 -50 -626 -12 -126 44 -160 84 -174
209 -9 84 1 227 20 277 6 15 10 37 10 50 0 14 7 39 14 57 8 18 25 66 36 105
12 40 26 75 31 78 5 4 9 13 9 21 0 8 27 71 60 140 33 68 60 127 60 130 0 12
103 176 126 201 13 14 24 32 24 39 0 7 6 19 13 26 6 7 39 47 72 88 78 98 200
218 289 285 125 94 238 145 391 178 51 12 206 6 256 -9z m-2241 -2249 c10 -12
6 -20 -19 -46 -17 -17 -31 -33 -31 -36 0 -2 -15 -23 -33 -46 -19 -23 -48 -67
-67 -97 -18 -30 -36 -57 -40 -60 -7 -5 -110 -217 -110 -227 0 -4 -11 -30 -25
-58 -31 -67 -90 -302 -105 -420 -6 -49 -14 -101 -18 -115 l-7 -25 -950 -3
c-752 -2 -950 0 -957 10 -9 16 -11 1122 -1 1131 3 4 534 7 1178 7 1021 0 1174
-2 1185 -15z m518 -540 c1 -302 0 -560 -3 -572 l-5 -23 -315 0 c-362 0 -341
-6 -330 98 7 64 43 229 55 252 4 9 11 31 15 50 9 43 117 270 156 328 16 24 29
45 29 48 0 13 108 145 170 209 136 139 169 166 198 163 l27 -3 3 -550z m486
443 c169 -170 178 -181 275 -351 13 -23 34 -56 47 -74 13 -17 24 -40 24 -50 0
-11 4 -23 9 -28 12 -13 61 -138 61 -156 0 -8 4 -19 9 -24 5 -6 13 -35 19 -65
6 -30 15 -73 20 -95 5 -22 12 -68 16 -102 9 -98 26 -93 -334 -93 -279 0 -308
2 -314 17 -8 21 -9 1111 -1 1124 4 5 17 9 31 9 19 0 54 -29 138 -112z m2697
102 c18 -10 19 -27 19 -563 0 -417 -3 -556 -12 -565 -18 -18 -1893 -17 -1905
1 -4 6 -11 37 -15 67 -19 154 -26 199 -36 230 -5 19 -18 62 -27 95 -29 102
-56 177 -87 245 -54 115 -58 124 -83 165 -13 22 -33 56 -44 76 -29 52 -141
202 -163 217 -15 11 -16 17 -7 28 10 12 186 14 1176 14 783 0 1171 -3 1184
-10z m-3194 -1445 c11 -3 13 -327 11 -1662 l-3 -1658 -1350 0 -1350 0 -3 1663
-2 1662 882 -2 883 -3 6 -55 c6 -56 10 -71 49 -195 43 -136 74 -211 123 -295
62 -106 81 -127 128 -141 86 -26 170 27 183 115 9 56 5 70 -49 167 -46 84
-115 270 -115 311 0 15 -4 30 -10 33 -18 11 -11 55 9 63 21 8 588 5 608 -3z
m956 -4 c23 -23 -46 -228 -137 -415 -50 -100 -54 -115 -47 -149 21 -90 96
-137 186 -117 59 13 95 53 146 160 41 87 69 153 69 163 0 7 7 21 15 31 8 11
15 31 15 44 0 13 5 32 10 43 11 20 23 71 44 179 l12 65 795 5 c436 3 832 3
879 0 l85 -5 0 -1660 0 -1660 -1344 -3 c-754 -1 -1349 2 -1354 7 -11 11 -9
3314 2 3321 18 10 613 2 624 -9z"/>
</g>
</svg>

            <h3 class="services__title">Free Gift Wrap</h3>
            <p class="services__description">On orders above 100 upon request</p>
        </div>

        <div class="services__content">
            <svg class="services__img" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path d="M7.5,23.501h-7c-0.276,0-0.5-0.224-0.5-0.5v-12c0-0.276,0.224-0.5,0.5-0.5h7c0.276,0,0.5,0.224,0.5,0.5v12    C8,23.277,7.776,23.501,7.5,23.501z M1,22.501h6v-11H1V22.501z"/></g><g><path d="M19.75,22.501H10.5c-0.925,0-2.605-0.398-3.354-1.146c-0.195-0.195-0.195-0.512,0-0.707s0.512-0.195,0.707,0    c0.473,0.473,1.834,0.854,2.646,0.854h9.25c0.689,0,1.25-0.561,1.25-1.25c0-0.344-0.14-0.666-0.395-0.907    c-0.142-0.133-0.192-0.337-0.131-0.521c0.061-0.185,0.224-0.316,0.417-0.338C21.523,18.412,22,17.881,22,17.251    c0-0.344-0.14-0.666-0.395-0.907c-0.142-0.133-0.192-0.337-0.131-0.521c0.061-0.185,0.224-0.316,0.417-0.338    C22.523,15.412,23,14.881,23,14.251c0-0.466-0.262-0.89-0.684-1.106c-0.161-0.083-0.265-0.245-0.271-0.425    c-0.007-0.18,0.083-0.351,0.237-0.445C22.731,11.997,23,11.521,23,11.001c0-0.827-0.673-1.5-1.5-1.5h-7    c-0.165,0-0.318-0.081-0.412-0.216s-0.114-0.308-0.056-0.461C14.042,8.797,15,6.26,15,4.501c0-1.637-1.452-3-2-3    c-0.431,0-0.792,0.157-1,0.272v3.228c0,0.072-0.016,0.144-0.046,0.209l-3,6.5c-0.048,0.103-0.129,0.187-0.23,0.238l-1,0.5    c-0.248,0.123-0.547,0.023-0.671-0.224c-0.124-0.247-0.023-0.547,0.224-0.671l0.843-0.421L11,4.891v-3.39    c0-0.152,0.069-0.295,0.188-0.391C11.219,1.085,11.961,0.501,13,0.501c1.157,0,3,1.831,3,4c0,1.368-0.49,3.071-0.795,4H21.5    c1.378,0,2.5,1.122,2.5,2.5c0,0.631-0.235,1.223-0.65,1.675C23.761,13.089,24,13.65,24,14.251c0,0.867-0.497,1.628-1.235,2    c0.154,0.307,0.235,0.646,0.235,1c0,0.867-0.497,1.628-1.235,2c0.154,0.307,0.235,0.646,0.235,1    C22,21.491,20.991,22.501,19.75,22.501z"/></g></g><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg>

            <h3 class="services__title">Best Customer Service</h3>
            <p class="services__description">We offer our clients excellent quality services for many years</p>
        </div>

        <div class="services__content">
            <svg class="services__img" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M19.1978 49.6016C17.4308 49.6016 15.9981 51.0342 15.9981 52.8012C15.9981 54.5682 17.4308 
                56.0008 19.1978 56.0008C20.9648 56.0008 22.3974 54.5682 22.3974 52.8012C22.3974 51.0342 20.9648 
                49.6016 19.1978 49.6016ZM19.1978 53.8677C18.6088 53.8677 18.1312 53.3902 18.1312 52.8012C18.1312 
                52.2122 18.6088 51.7347 19.1978 51.7347C19.7868 51.7347 20.2643 52.2122 20.2643 52.8012C20.2643 
                53.3902 19.7868 53.8677 19.1978 53.8677Z"/>
                <path d="M50.1275 49.6016C48.3605 49.6016 46.9279 51.0342 46.9279 52.8012C46.9279 54.5682 48.3605 
                56.0008 50.1275 56.0008C51.8945 56.0008 53.3271 54.5682 53.3271 52.8012C53.3271 51.0342 51.8945 
                49.6016 50.1275 49.6016ZM50.1275 53.8677C49.5385 53.8677 49.0609 53.3902 49.0609 52.8012C49.0609 
                52.2122 49.5385 51.7347 50.1275 51.7347C50.7165 51.7347 51.194 52.2122 51.194 52.8012C51.194 
                53.3902 50.7165 53.8677 50.1275 53.8677Z"/>
                <path d="M3.19962 21.8715H5.3327V24.0045H3.19962V21.8715Z"/>
                <path d="M0 26.1377H2.13308V28.2708H0V26.1377Z"/>
                <path d="M52.2606 11.2061H58.6598V13.3391H52.2606V11.2061Z"/>
                <path d="M47.9944 11.2061H50.1275V13.3391H47.9944V11.2061Z"/>
                <path d="M34.1294 4.80676H44.7948V6.93985H34.1294V4.80676Z"/>
                <path d="M29.8632 4.80676H31.9963V6.93985H29.8632V4.80676Z"/>
                <path d="M63.9925 59.2005V57.0674H54.8842C55.7935 56.0607 56.3575 54.7906 56.495 53.4412L63.4593 
                49.461C63.5087 49.4266 63.5556 49.3886 63.5988 49.3469C63.6363 49.3214 63.6723 49.2928 63.7056 
                49.2626C63.7858 49.1777 63.8514 49.0798 63.8998 48.9735C63.905 48.9636 63.9123 48.9574 63.917 
                48.948C63.9655 48.8272 63.9915 48.6986 63.9936 48.5684C63.9936 48.5564 63.9998 48.547 63.9998 
                48.535V38.9362C63.9951 38.9049 63.9889 38.8742 63.9806 38.8435C63.9821 38.8159 63.9821 38.7877 
                63.9806 38.7601L61.8475 25.9616C61.8428 25.946 61.8371 25.9299 61.8308 25.9148C61.8308 25.9033 
                61.8308 25.8903 61.8308 25.8788L60.7643 21.6127C60.645 21.1367 60.2169 20.8034 59.7264 20.8049H46.7893C46.6446 
                20.2852 46.3696 19.8103 45.9905 19.4259L38.708 12.1435C38.1096 11.5414 37.2951 11.204 36.4457 
                11.2061H10.6654C10.0764 11.2061 9.59888 11.6836 9.59888 12.2726V16.5388H0V18.6719H9.59888V21.8715H7.4658V24.0046H9.59888V26.1377H4.26617V28.2707H9.59888V37.8696C9.00989 
                37.8696 8.53234 38.3472 8.53234 38.9362V48.535C8.53234 48.5574 8.54432 48.5767 8.54536 48.6001C8.55161 
                48.6965 8.57088 48.7918 8.60264 48.8829C8.61254 48.9168 8.62451 48.9501 8.63805 48.9829C8.68805 49.0949 
                8.75679 49.1969 8.84168 49.285L12.8178 53.2611C12.9198 54.6749 13.4911 56.0149 14.441 57.0674H0V59.2005H63.9925ZM44.1016 50.6681H25.2236C25.0929 
                50.2984 24.9278 49.9411 24.731 49.6016H44.5943C44.3974 49.9411 44.2323 50.2984 44.1016 50.6681ZM25.597 
                52.8012H43.7282C43.7288 54.3776 44.3141 55.8977 45.3708 57.0674H23.9545C25.0111 55.8977 25.5965 54.3776 
                25.597 52.8012ZM45.8613 52.8012C45.8613 50.4452 47.7715 48.535 50.1275 48.535C52.4835 48.535 54.3937 
                50.4452 54.3937 52.8012C54.3937 55.1572 52.4835 57.0674 50.1275 57.0674C47.7715 57.0674 45.8613 55.1572 45.8613 
                52.8012ZM56.2898 51.0946C56.145 50.5723 55.9336 50.0703 55.6607 49.6016H58.9093L56.2898 51.0946ZM61.6662 
                37.8696H51.194V27.2042H59.8894L61.6662 37.8696ZM59.4269 25.0711H50.1275C49.5385 25.0711 49.0609 25.5487 
                49.0609 26.1377V38.9362C49.0609 39.5252 49.5385 40.0027 50.1275 40.0027H61.8595V42.1358H58.6598V44.2689H61.8595V47.4685H53.6578C51.519 
                46.0463 48.736 46.0463 46.5972 47.4685H22.7281C20.5893 46.0463 17.8063 46.0463 15.6674 
                47.4685H10.6654V43.2023H14.9316V41.0692H10.6654V40.0027H45.8613C46.4503 40.0027 46.9279 
                39.5252 46.9279 38.9362V22.938H58.8937L59.4269 25.0711ZM11.732 28.2707H20.2643V26.1377H11.732V24.0046H21.3308V21.8715H11.732V18.6719H17.0647V16.5388H11.732V13.3391H36.4457C36.7285 
                13.3402 36.9993 13.4527 37.1998 13.6516L44.4823 20.9341C44.6828 21.1341 44.7948 21.4059 44.7948 21.6892V37.8696H11.732V28.2707ZM13.6646 
                49.6016C13.4766 49.9255 13.3177 50.2661 13.1901 50.6181L12.1736 49.6016H13.6646ZM14.9316 
                52.8012C14.9316 50.4452 16.8418 48.535 19.1978 48.535C21.5537 48.535 23.4639 50.4452 23.4639 
                52.8012C23.4639 55.1572 21.5537 57.0674 19.1978 57.0674C16.8418 57.0674 14.9316 55.1572 14.9316 52.8012Z"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="64" height="64" fill="white"/>
                    </clipPath>
                    </defs>
            </svg>
            <h3 class="services__title">Delivery</h3>
            <p class="services__description">Free Local Delivery on orders above 100</p>
        </div>
    </div>
</section>