@import url(styles.css);



section#about {
  display: flex;
  align-items: center;
  justify-content: center;
}

td{
  padding: 20px;
}
  
    @media screen and (min-width: 960px){
    
    .product__img{
      width: 500px;
    }
  
  }

 
  @media screen and (max-width: 768px) {
    
    .action__buttons {
      display: flex;
      justify-content: center;
    }

    .product__user__rating{
        width: auto;
    }

     /* 

    .action__buttons__mobile{
        position: -webkit-sticky;
        position: fixed;
        bottom: 00px;
        margin: .1rem .6rem 1rem;
        display: flex;
        
    } 

   

    .button__add__2cart__button__mobile {
      background-color: var(--first-color);
      display: inlifne-block;
      color: #FFF;
      padding: .75rem 2.5rem;
      margin-left: 5px;
      transition: .3s;
      font-family: var(--body-font);
      font-size: 16px;
      border: none;
      cursor: pointer;
  }
*/
  }
   

  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
 @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }
  

  /* Snackbar */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  /* margin-left: -125px; */
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: var(--h3-font-size);
  transform: translateX(-50%);
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}