@import url('../css/styles.css');

.menu__preci {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.filter {
    display: grid;
    align-items: center;
    justify-content: center;
  }

.dropdown:hover .dropbtn { 
    background-color: var(--first-color-alt);
  }

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
    background-color: var(--first-color);
    font-family: var(--body-font);
    /* color: var(--body-color); */
    padding: 13px 53px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: inherit;
  }

.dropdown-content {
    display: none;
    position: absolute;
    margin: 0px 0px 0px 0px;
    /* background-color: var(--first-color-alt); */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
 
.dropdown-content a {
    background-color: var(--first-color-alt);
     float: none;
    color: var(--body-color);
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    width: max-content;
    display: block;
    text-align: left; 
  }

  
.dropdown-content a:hover {
    background-color: var(--first-color);
    color: black
  } 
 
.query__message__dropbox__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 100px 5px 93px;
}

.menu__content{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(3,74,40,.15);
  padding: .75rem .75rem 2.75rem .75rem ;
}

/* .query__message__dropbox__div a{
    color: var(--first-color);
} */
/* .query__message__dropbox__div a:visited{
    color: var(--first-color);
} */

.filter__and__sort{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    width: 100%;
}



  
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--first-color-alt);
}

.sort__filter__box {
    color: var(--first-color);
   }

   .sort__filter__box a{
    color: var(--first-color);
   }

.rating__div{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding: .213rem .813rem;
  border-radius: .5rem 0 .5rem 0;
  font-size: small;
  align-items: center;
  justify-content: center;
}

   @media screen and (max-width: 768px){

    .query__message__dropbox__div {
        color: var(--first-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        margin: 0px 0px 10px 0px;
    }
    .filter__and__sort {
        display: flex;
        justify-content: right;
        /* align-items: flex-end; */
        width: 100%;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      margin: 0px 0px 0px -7px;
      /* background-color: var(--first-color-alt); */
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
      z-index: 1;
  }
   }