/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #069C54;
  --first-color-alt: #048654;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }

  .sort__filter__box{
    /* margin-left: 40%; */
    position: relative;
    display: flex;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: #F1F3F2;
  --text-color: #C7D1CC;
  --body-color: #1D2521;
  --container-color: #27302C;
}

/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p,ul{
  margin: 0;
}


ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  /* margin-bottom: var(--mb-3); commented by vikas*/
}

/* added by vikas 
This is added to show the details section for the product page.*/
.detail_section{
  margin-top: var(--mb-6);
}

.section-subtitle{
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
.section-subtitle-rate{
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
/*========== LAYOUT ==========*/
.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.pd-container{
  max-width: 1460px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav{
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sort__filter__box__a a:visited {
  color: var(--first-color);
 }
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }

  /* Added by vikas */
  .nav__cart{
    margin-left: var(--mb-6);
    font-size: var(--h2-font-size);
    display: none;
  }
  #trend__menu{
    display: none;
  }
  .search__filter{
    flex-direction: column;
    
  }
 .sort__filter__box{
  margin-left: 0%;
 }

 

   /* Cart count */
.responsiveFlyoutBasket_itemsCount{
  font-size: .7rem;
  color: var(--body-color);
  background-color: var(--first-color);
  border-radius: 50%;
  min-width: 14px;
  height: 14px;  
  font-weight: 500;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  margin-left: -19px;
  /* top: 10px; */
  /* right: 4px; */
}

}

.nav__item{
  margin-bottom: var(--mb-2);
}

.nav__link, .nav__logo, .nav__toggle{
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

 /* Added by vikas */
 .nav__cart{
  font-size: var(--h2-font-size);
  
}

/* Show menu */
.show-menu{
  top: var(--header-height);
}

/* Active menu */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(6,156,84,.5);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--first-color-alt);
}

.scrolltop__icon{
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scrolltop */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== Product ==========*/
.product__container{
  height: calc(100vh - var(--header-height));
  align-content: center;
}

.product__title{
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.product__price{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.product__subtitle{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.product__img{
  width: 400px;
  justify-self: center;
}


/*========== HOME ==========*/
.home__container{
  height: calc(100vh - var(--header-height));
  align-content: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.home__img{
  width: 300px;
  justify-self: center;
}

/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}

/*========== ABOUT ==========*/
.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: var(--mb-3);
}

.about__img{
  width: 280px;
  border-radius: .5rem;
  justify-self: center;
}

/*========== SERVICES ==========*/
.services__container{
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content{
  text-align: center;
}

.services__img{
  width: 64px;
  height: 64px;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
}

.services__title{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description{
  padding: 0 1.5rem;
}

/*========== MENU ==========*/
.menu__container{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.menu__content{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(3,74,40,.15);
  padding: .75rem;
}

.menu__img{
  width: 100px;
  align-self: center;
  margin-bottom: var(--mb-2);
}

.menu__name{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu__name{
  font-size: var(--normal-font-size);
}

.menu__detail{
  font-size: var(--small-font-size);
}

/* Added by vikas */
.menu__preci{
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.menu__detail{
  margin-bottom: var(--mb-1);
}

.menu__button{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}

/*========== APP ==========*/
.app__data{
  text-align: center;
}

.app__description{
  margin-bottom: var(--mb-5);
}

.app__stores{
  margin-bottom: var(--mb-4);
}

.app__store{
  width: 120px;
  margin: 0 var(--mb-1);
}

.app__img{
  width: 230px;
  justify-self: center;
}

/*========== CONTACT ==========*/
.contact__container{
  text-align: center;
}

.contact__description{
  margin-bottom: var(--mb-3);
}

/*========== FOOTER ==========*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description{
  display: block;
  font-size: var(--small-font-size);
  margin: .25rem 0 var(--mb-3);
}

.footer__social{
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link{
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover{
  color: var(--first-color);
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
  .home__container,
  .about__container,
  .app__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .about__data, .about__initial,
  .app__data, .app__initial,
  .contact__container, .contact__initial{
    text-align: initial;
  }

  .about__img, .app__img{
    width: 380px;
    order: -1;
  }

  .contact__container{
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button{
    justify-self: center;
  }


}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 8rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
  }
  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

/* Added by vikas */
.row{
  display: block;
}

  .nav__toggle, #carousel__container{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container{
    height: 100vh;
    justify-items: center;
  }

  .product__container{
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container{
    margin-top: var(--mb-6);
  }

  .pb,
  .menu__container{
    margin-top: var(--mb-6);
  }

  .menu__container{
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content{
    padding: 1.5rem;
  }
  .menu__img{
    width: 130px;
  }

  .app__store{
    margin: 0 var(--mb-1) 0 0;
  }

  /* Added by vikas */
  #trend__menu{
    display: block;
  }

  /* Cart count */
.responsiveFlyoutBasket_itemsCount{
  font-size: .7rem;
  color: var(--body-color);
  background-color: var(--first-color);
  border-radius: 50%;
  min-width: 16px;
  height: 16px;  
  font-weight: 700;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  margin-left: -10px;
  /* top: 10px; */
  /* right: 4px; */
}

}

@media screen and (min-width: 960px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }
  .pd-container{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    width: 500px;
  }
  .product__img{
    width: 500px;
  }

  .about__container,
  .app__container{
    column-gap: 7rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }

  

}


/*NEW CODE*/
.search {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.searchTerm {
  width: 60%;
  height: calc(var(--header-height) - 1rem);
  position: relative;
  border: .1px solid var(--first-color-alt);
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  background-color: var(--body-color);
  justify-content: center;
  
}

.searchTerm:focus{
  color: var(--first-color-alt);
}

.searchButton {
  position: relative;
  box-sizing: border-box;
  /* width: 40px; */
  /* height: 36px; */
  height: calc(var(--header-height) - 1rem);
  border: .1px solid var(--first-color);
  background: var(--first-color);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
  padding: .5rem 1rem;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

  /* VIEW PORT CODE*/
  .carousel {
    /* background: #EEE; */
    box-sizing: border-box;
  }
  
  .carousel-cell {
    position: relative;
    width: 66%;
    /* height: 200px; */
    margin-right: 10px;
    /* background: var(--first-color); */
    border: .1px solid var(--first-color-alt);
    border-radius: .5rem;
    /* counter-increment: gallery-cell; */
    box-sizing: border-box;
  }
  .carousel-cell img{
    width: 100%;
    /* counter-increment: gallery-cell; */
    box-sizing: border-box;
  }
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    /* content: counter(gallery-cell); */
    line-height: 200px;
    font-size: var(--h2-font-size);
    /* color: white; */
    border: var(--first-color-alt);
    box-sizing: border-box;
  }
  
  .flickity-slider{
    position: relative;
    box-sizing: border-box;
  
  }


  /* FLEX TRANSFORMATION */

  .column__big{
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
/*
  .column__big:hover{
    flex: 50%;
    max-width: 50%;
    padding: 0 10px;
  }

   .column:hover{
    flex: 25%;
    max-width: 25%;
    padding: 0 10px;
  } */

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  

.column img, .column__big img {
  margin-top: 8px;
  vertical-align: middle;
}

.banner__container {
  position: relative;
}

/* ------------------------------ */
.banner__image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* ---------------------------------- */

.banner__text__middle {
  transition: .5s ease;
  opacity: 0.7;
  position: absolute;
  top: 55%;
  /* left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%) */
  /* Above three lines are changed to change the position of shop now batch from middle left */
}

/*  -------------------------------- */
.banner__container:hover .banner__image {
  opacity: 0.6;
}

.banner__container:hover .banner__text__middle {
  opacity: 1;
}

.banner__text {
  background-color: var(--first-color-alt);
  color: var(--body-color);
  padding: 3px 8px;
  font-size: var(--medium-font-size);
}

.banner__text__description{
  color: var(--body-color);
  top: 20%;
  left: 20%;
  position: absolute;
  
}

.filter a{
  color: var(--first-color);
  font-family: var(--body-font);
}
/* Select box for list view filtering and sorting */
.filter__box{
  border: 1px solid var(--first-color-alt);
  background-color: var(--body-color);
  border-radius: .5rem;
  color: var(--first-color);
  height: 2.507em;  
  padding: 0 .75em;
  font: inherit;
  /* display: flex; */
  margin: 5px 5px;
  background-size: auto 16px;
  vertical-align: middle;
  /* margin-right: auto; */
  /* margin-left: auto; */
}
/* Form for the selectbox for sorting and filtering */
.search__filter {
  width: max-content;
  position: relative;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-left: auto;
  /* margin-right: auto; */
  position: relative;
  -webkit-box-orient: horizontal;
  justify-content: space-between;
  vertical-align: middle;
  /* grid-template-columns: repeat(2, 1fr); */
}

.container_results{
  padding-top: 10px
}

.pagination{
  margin-top: var(--mb-4);
  font-size: var(--h3-font-size);
  text-align: center;
}
.pagination a{
  color: var(--first-color);
  font-weight: var(--font-medium);
  float: inherit;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
.pagination a.active {
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

.pagination a:hover:not(.active) {
  background-color: var(--first-color);
  color: var(--body-color);
}
/* Responsive layout - makes a two column-layout instead of four columns */
/* @media (max-width: 800px) {
  .column, .column__big {
    flex: 50%;
    max-width: 50%;
  }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 576px) {
  .column, .column__big {
    flex: 100%;
    max-width: 100%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-bottom: 5rem ;
  }

 

}


/* CART CSS */


/* Global "table" column settings */
.cart__product-image { float: left; width: 20%; }
.cart__product-details { float: left; width: 37%; }
.cart__product-price { float: left; width: 12%; }
.cart__product-quantity { float: left; width: 10%; }
.cart__product-removal { float: left; width: 9%; }
.cart__product-line-price { float: left; width: 12%; text-align: right; }

/* Apply dollar signs */
.cart__product .cart__product-price:before, .cart__product .cart__product-line-price:before, .totals-value:before {
  content: 'INR ';
}

.shopping-cart {
  display:inherit;
  margin-top: var(--mb-3);
  /* margin-top: -45px; */
}

/* Column headers */
.column-labels label{
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--body-color);
}

 .column-labels .product-image, .product-details, .product-removal{
  text-indent: -9999px;
} 

/* Product entries */
.cart__product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  /* border-bottom: 1px solid var(--first-color); */
  border-top: 1px solid var(--first-color);
}
 
.cart__product .cart__product-image {
    text-align: center;
    
  }

.cart__product .cart__product-image img {
    width: 100px;
  }

.cart__product .cart__product-details .cart__product-title {
    margin-right: 20px;
    font-family: var(--body-font);
  
}

.cart__product-details .cart__product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}

.cart__product .cart__product-quantity input {
  width: 40px;
    background-color: var(--body-color);
    color: var(--text-color);
    border: .1px solid var(--first-color-alt);
}

.cart__product .remove-cart__product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: var(--body-color);
  font-family: var(--body-font);
  font-size: 12px;
  border-radius: 3px;
} 
.cart__product .remove-cart__product:hover {
  background-color: #a44;
}

/* Totals section */
 .totals  .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

.totals label{
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}

.totals .totals-value {
  float: right;
  width: 21%;
  text-align: right;
} 

.totals .totals-item-total {
  font-family: var(--body-font);
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: var(--first-color-alt);
  color: var(--body-color);
  font-size: var(--h2-font-size);
  border-radius: 3px;
}

.checkout:hover {
  background-color: var(--first-color-alt);
}

.shopping-cart, .column-labels, .cart__product, .totals-item {
  zoom: 1;
}

.shopping-cart::after, .column-labels::after, .cart__product::after, .totals-item::after, .shopping-cart::before, .column-labels::before, .cart__product::before, .totals-item::before{
  content: '';
  display: table;
}

.shopping-cart::after, .column-labels::after, .cart__product::after, .totals-item::after{
  clear: both;
}

/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  
  .cart__product-removal {
    float: right;
  }
  
  .cart__product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
  
  .cart__product .cart__product-line-price:before {
    content: 'Item Total: INR';
  }
  
  .totals .totals-item label{
    width: 60%;
  }
  .totals .totals-item .totals-value {
    width: 40%;
  }
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    /* border-top: 1px solid var(--first-color); */

  }
  
  .column-labels {
    display: none;
  }
  
  .cart__product-image {
    float: right;
    width: auto;
  }
  .cart__product-image img{
    margin: 0 0 10px 10px;
  }
  
  .cart__product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  
  .cart__product-price {
    clear: both;
    width: 70px;
  }
  
  .cart__product-quantity {
    width: 100px;
  }
  .cart__product-quantity input {
    margin-left: 20px;
    width: 40px;
    background-color: var(--body-color);
    color: var(--text-color);
    border: .1px solid var(--first-color);
    }
  
  .cart__product-quantity:before {
    content: 'x';
  }
  
  .cart__product-removal {
    width: auto;
  }
  
  .cart__product-line-price {
    float: right;
    width: 70px;
  }
  
}


/* Login form  */

/*===== LOGIN =====*/

.login{
  display: grid;
  grid-template-columns: 100%;
  /* height: 100vh; */
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.login__content{
  display: grid;
}

.login__img{
  justify-self: center;
}

.login__img img{
  width: 310px;
  margin-top: 1.5rem;
  margin-bottom: 13.5rem;
}

.login__forms{
  position: relative;
  height: 368px;
}

.login__registre, .login__create{
  position: absolute;
  bottom: 1rem;
  width: 100%;
  background-color: var(--first-color-lighten);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
  animation-duration: .4s;
  animation-name: animate-login;
}

@keyframes animate-login{
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}

.login__title{
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}

.login__box{
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: .5rem;
  padding: 1.125rem 1rem;
  background-color: #FFF;
  margin-top: 1rem;
  border-radius: .5rem;
}

.login__icon{
  font-size: 1.5rem;
  color: var(--first-color);
}

.login__input{
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: var(--first-color-dark);
}

.login__input::placeholder{
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--first-color-light);
}

.login__forgot{
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color-light);
}

.login__button{
  padding: 1rem;
  border: none;
  display: block;
  margin: 2.5rem 0;
  font-size: var(--mb-2);
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  background-color: var(--first-color);
  width: inherit;
  color: var(--body-color);
  /* color: #FFF; */
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
}

.login__button:hover{
  background-color: var(--first-color-alt);
}

.login__account, .login__signin, .login__signup{
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
}

.login__account{
  color: var(--first-color-dark);
}

.login__signin, .login__signup{
  color: var(--first-color);
  cursor: pointer;
}

.login__social{
  margin-top: 2rem;
}

.login__social-icon{
  font-size: 1.5rem;
  color: var(--first-color-dark);
  margin: 0 1.5rem;
}

/*Show login*/
.block{
  display: block;
}

/*Hidden login*/
.none{
  display: none;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px){
  .login__forms{
    width: 348px;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px){
  .login{
    height: 100vh;
    overflow: hidden;
  }

  .login__content{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
  }

  .login__img{
    display: flex;
    width: 600px;
    height: 588px;
    background-color: var(--first-color-lighten);
    border-radius: 1rem;
    padding-left: 1rem;
  }

  .login__img img{
    width: 390px;
    margin-top: 0;
  }

  .login__registre, .login__create{
    left: -11rem;
  }

  .login__registre{
    bottom: -2rem;
  }

  .login__create{
    bottom: -5.5rem;
  }
}

/* Trying */
.navbar {
  overflow: hidden;
  background-color: var(--first-color);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: var(--body-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  /* position: inherit; */
  display: inline-block;
  width: fit-content;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  margin-left: auto;
  /* margin-right: auto; */
  position: relative;
  -webkit-box-orient: horizontal;
  justify-content: space-between;
  /* vertical-align: middle; */
}
.dropbtn {
  background-color: var(--first-color);
  font-family: var(--body-font);
  color: var(--body-color);
  padding: 13px 53px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--first-color-alt);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--first-color-alt);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--body-color);
  padding: 12px 16px;
  text-decoration: none;
  width: max-content;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--first-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}


.heart{
  margin-left: 60%;
  font-size: var(--h2-font-size);
  color: var(--first-color);
}

.button__buy__now{
  background-color: #f18400!important;
  display: inline-block;
  color: #FFF;
  padding: .75rem 2.5rem;
  /* border-radius: .5rem; */
  transition: .3s;
}
.button__add__2cart{
  background-color: var(--first-color);
  display: inline-block;
  color: #FFF;
  padding: .75rem 2.5rem;
  /* border-radius: .5rem; */
  transition: .3s;
}

.product-rating{
  color: #ffc107;
}
.product-rating span{
  font-weight: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--first-color);
  /* color: #252525; */
}
.rating__overall{
  font-size: var(--normal-font-size);
  color: var(--first-color);
}
.danger__box{
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  margin-bottom: 15px;
  padding: 4px 12px;
}